#
# Fig file for running python web instances
#
redis:
    image: dockerfile/redis
    ports:
        - "6379"
pg:
    image: "postgres:9.4"
    ports:
        - "5432"
    environment:
        - POSTGRES_USER=postgres
        - POSTGRES_PASSWORD=docker
flask:
    build: ../shared_dockers/flask
    ports:
        - "5000"
    links:
        - pg
        - redis
        - pypiBMW
    environment:
        - PG_USER=postgres
        - PG_PASS=docker
        - PG_PORT=5432
        - PG_HOST=pg
        - PG_DBNAME=postgres
        - REDIS_HOST=redis
        - REDIS_PORT=6379
        - SMTP_SERVER
        - HOST_NAMES
    volumes:
        - {{ share_volume }}:/application
        - {{ logs_volume }}:/var/log/appMain:rw
        - /usr/local/pypi:/srv/pypi:rw
pypiBMW:
    image: codekoala/pypi
    ports:
        - "80"
    volumes:
        - /usr/local/pypi:/srv/pypi:rw
