gf:
    build: ../shared_dockers/glassfish
    ports:
        - "8080"
        - "8048"
        - "8009"
    links:
        - pg
    environment:
        - PG_USER=postgres
        - PG_PASS=docker
        - PG_PORT=5432
        - PG_HOST=pg
        - PG_DBNAME=postgres
        - WAR_FILE
        - APP_ROOT
        - JDBC_NAME
    volumes:
        - {{ share_volume }}:/tmp/deployables
        - {{ logs_volume}}:/var/log/appMain
pg:
    image: "postgres:9.4"
    ports:
        - "5432"
    environment:
        - POSTGRES_USER=postgres
        - POSTGRES_PASSWORD=docker


