#
# Fig file for running python web instances
#
flask:
    build: ../shared_dockers/flask
    ports:
        - "5000"
    links:
        - mongo
        - redis
        - pypi
    environment:
        - MONGO_HOST=mongo
        - MONGO_PORT=27017
        - MONGO_REPLICA_SET=mapRS01
        - REDIS_HOST=redis
        - REDIS_PORT=6379
        - SMTP_SERVER
        - HOST_NAMES
    volumes:
        - {{ share_volume }}:/application
        - {{ logs_volume }}:/var/log/appMain:rw
        - /usr/local/pypi:/srv/pypi:rw
mongo:
    image: dockerfile/mongodb
    ports:
        - "27017"
redis:
    image: dockerfile/redis
    ports:
        - "6379"
celery:
    build: ./celery
    links:
        - mongo
        - redis
        - pypi
    environment:
        - MONGO_HOST=mongo
        - MONGO_PORT=27017
        - MONGO_REPLICA_SET=mapRS01
        - REDIS_HOST=redis
        - REDIS_PORT=6379
        - SMTP_SERVER
        - HOST_NAMES
        - CELERY_NAME
    volumes:
        - {{ share_volume }}:/async
        - {{ logs_volume }}:/var/log/appMain:rw
        - /usr/local/pypi:/srv/pypi:rw
pypi:
    #image: codekoala/pypi
    build: ./pypi
    ports:
        - "80"
    volumes:
        - /usr/local/pypi:/srv/pypi:rw
