#
# Fig file for running python web instances
#
mysql:
    image: "mysql"
    ports:
        - "3306"
    environment:
        - MYSQL_ROOT_PASSWORD=docker
        - MYSQL_USER=mysql
        - MYSQL_PASSWORD=docker
flask:
    build: {{ compose_dir }}/shared_dockers/flask
    ports:
        - "5000"
    links:
        - mysql
    environment:
        - MYSQL_USER=mysql
        - MYSQL_PASS=docker
        - MYSQL_PORT=3306
        - MYSQL_HOST=mysql
        - MYSQL_DB=mysqldb
        - SMTP_SERVER
        - HOST_NAMES
    volumes:
        - {{ logs_volume }}:/var/log/appMain:rw
        - ./pypi:/srv/pypi:rw
    volumes_from:
        - {{ data_container }}
